<html>
  <head>
    <title>Rails Reserved Words</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/select2.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='scripts/select2.js'></script>
  </head>

  <body>
    <select class="select2" id='search'>
      <% pages.each do |page| %>
        <option value="<%= page.path %>"><%= page["title"] %></option>
      <% end %>
    </select>
    <div id='content'>
    </div>
    <script>
      $(document).ready(function() {
        $('#search').select2().on('select2-selecting', function(e) {
          $.ajax({
            url: e.target.value,
            success: function(data) {
              $('#content').html(data)    
            }
           })
        });
      })
    </script>
  </body>
</html>