<html>
  <head>
    <title>Rails Reserved Words</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/select2.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src='scripts/select2.js'></script>
  </head>

  <body>
    <h1>Rails Reserved Words</h1>
    <p>
      If you want to look up if something is a reserved word in Rails, use this search box:
    </p>
    <select class="select2" id='search'>
      <% pages.each do |page| %>
        <option value="<%= page.path %>"><%= page["title"] %></option>
      <% end %>
    </select>
    <div id='content' style='display:none'>
    </div>
    <hr>
    <p>
      If you think you've found a reserved word and it's not listed here, then please <a href='https://github.com/radar/rails-reserved-words'>fork this project on GitHub</a>, following the instructions in the README to add that new word. Thank you very much!
    </p>
    <script>
      $(document).ready(function() {
        $('#search').select2().on('select2-selecting', function(e) {
          $.ajax({
            url: e.target.value,
            success: function(data) {
              $('#content').show().html(data)    
            }
           })
        });
      })
    </script>
  </body>
</html>